<h2>Темы и разделы</h2>
<div class="card flex justify-content-center">
  <p-accordion [activeIndex]="activeIndex">
    <p-accordionTab header="Тема 1: Введение">
      <div>
       <a  href="lesson-one"><button type="submit" label="">Раздел 1: Общие сведения</button></a>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Тема 2">
      <p>
        
      </p>
    </p-accordionTab>
    <p-accordionTab header="Тема 3">
      <p>
        
      </p>
    </p-accordionTab>
  </p-accordion>
</div>