<h2>Дополнительная информация</h2>
<div class="card flex justify-content-center">
  <p-accordion [activeIndex]="activeIndex">
    <p-accordionTab header="Изменения в ПДД 2023">
    </p-accordionTab>
    <p-accordionTab header="Штрафы за нарушение ПДД">
    </p-accordionTab>
    <p-accordionTab header="Как избежать лишения прав">
    </p-accordionTab>
    <p-accordionTab header="Порядок действий при ДТП">
    </p-accordionTab>
    <p-accordionTab header="Основы оказания медицинской помощи">
    </p-accordionTab>
    <p-accordionTab header="Обслуживание автомобиля">
    </p-accordionTab>
    <p-accordionTab header="ТО и страхование автомобиля">
    </p-accordionTab>
    <p-accordionTab header="Коды регионов РФ">
    </p-accordionTab>
  </p-accordion>
</div>