<div class="card">
  <p-tabView>
    <p-tabPanel header="Общие положения и термины">
      <div>
        <p>"Настоящие Правила дорожного движения устанавливают единый порядок дорожного движения на всей территории Российской
        Федерации. Другие нормативные акты, касающиеся дорожного движения, должны основываться на требованиях Правил и не
        противоречить им."
        </p>
        Основные составляющие в дорожном движении - это водитель, его средство индивидуальной мобильности и дорога:
        <p>
        Средство индивидуальной мобильности - это транспортное средство, имеющее
        одно или несколько колес (роликов), предназначенное для индивидуального передвижения
        человека посредством использования двигателя (двигателей) (электросамокаты,
        электроскейтборды, гироскутеры, сигвеи, моноколеса и иные аналогичные средства). Проще говоря, это транспорт, 
        которым управляет водитель - автомобиль, велосипед, автобус и др.
        </p>
        <p>
        Водитель - это лицо, управляющее каким-либо транспортным средством.
        Водителем также считается погонщик, ведущий по дороге вьючных, верховых животных или стадо.
        </p> 
        <p>
          Дорога - это обустроенная или приспособленная и используемая для движения транспортных средств полоса земли либо поверхность
          искусственного сооружения. Дорога включает в себя одну или несколько проезжих частей, а также трамвайные пути, тротуары,
          обочины и разделительные полосы при их наличии.
        </p>
        В ходе обучения, это будут три самых важных аспекта, от которых нужно будет отталкиваться.
      </div>
    </p-tabPanel>
    <p-tabPanel header="Дорожное движение">
      <div>
        <p>
          "Дорожное движение — совокупность общественных отношений, возникающих в процессе перемещения людей и грузов с
          помощью
          транспортных средств или без таковых в пределах дорог."
        </p>
        По своей сути, дорожное движение представляет собой взаимодействие его участников на дороге. 
        Участники дорожного движения должны действовать таким образом, чтобы не создавать опасности для движения и не причинять
        вреда, а лица, нарушившие Правила Дорожного Движения, несут ответственность в соответствии с действующим законодательством!
      <p>
        На дороге будут встречаться такие её элементы, как: перекрёсток, светофор, проезжая часть, знаки и регулировщик.
        Подробнее о них Вы узнаете в следующих разделах или из следующих тем.
      </p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Обязанности водителя">
      <div>
      <p>
        Водитель механического транспортного средства обязан:
      </p>
      <p>
         - Иметь при себе и по требованию сотрудников полиции передавать им, для проверки:
      </p>
      <p>
        <a>
        * Водительское удостоверение на право управления транспортным средством соответствующей категории или подкатегории;
        </a>
        <br>
        * Регистрационные документы на данное транспортное средство (кроме мопедов), а при наличии прицепа — и на прицеп (кроме
        прицепов к мопедам);
        <br>
        * В установленных случаях разрешение на осуществление деятельности по перевозке пассажиров и багажа легковым такси,
        путевой лист и документы на перевозимый груз (транспортная накладная, заказ-наряд, сопроводительная ведомость)
        <br>
        * Cпециальные разрешения, при наличии которых в соответствии с законодательством об автомобильных дорогах и о дорожной
        деятельности допускается движение по автомобильным дорогам тяжеловесного транспортного средства, крупногабаритного
        транспортного средства либо транспортного средства, осуществляющего перевозки опасных грузов;
        <br>
        * Документ, подтверждающий факт установления инвалидности, в случае управления транспортным средством, на котором
        установлен опознавательный знак инвалид
      </p>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Задания в конце раздела">
      <p>
        <button class="task" type="button">
          Задание 1
        </button>
        <button class="task" type="button">
          Задание 2
        </button>
        <button class="task" type="button">
          Задание 3
        </button>
        <button class="task" type="button">
          Задание 4
        </button>
        <button class="task" type="button">
          Задание 5
        </button>
      </p>
    </p-tabPanel>
  </p-tabView>
</div>