<h2>Информация об экзамене</h2>
<p>
  Экзамен в ГИБДД во многом повторяет то, что курсанты сдают на экзаменах в автошколе.
  Для получения водительского удостоверения будующий водитель должен сдать теоретический и практический экзамен.
  <br>
  Обычно на экзамен в ГИБДД курсанта записывает автошкола. Если этого не произошло или после окончания автошколы прошло
  уже много времени, записаться придется самостоятельно.
</p>
<div class="card flex justify-content-center">
  <p-accordion [activeIndex]="activeIndex">
    <p-accordionTab header="Теоретический экзамен">
      <p>
        Первым по счёту идёт теоретический тест на знание правил дорожного движения. Весь процесс обучения в автошколе
        сопровождается заучиванием правил по учебнику, и у хорошо подготовленного курсанта не возникнет сложностей со сдачей
        этой части экзамена.
        <br>
        Раньше вопросы выдавались на бумажных билетах — сейчас тестирование проходит за компьютером. Всего курсант отвечает на
        20 вопросов за 20 минут с правом на две ошибки. Пытаться списывать или жульничать на теоретическом экзамене в ГАИ не
        стоит. Это обязательно заметят и отправят на пересдачу.
        <br>
        Экзаменационные вопросы каждый курсант знает заранее, поскольку из них состоят все учебники с билетами. По сути,
        подготовка представляет собой изучение экзаменационных вопросов и ответов к ним, а правила дорожного движения играют
        роль пояснения, почему нужно ответить так или иначе.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Автодром">
      <p>
        Те, кто успешно сдал теорию, допускаются к сдаче вождения на автодроме. В экзаменационный день (обычно это суббота)
        тестирование курсантов идёт потоком. Иначе говоря, как только заканчивается теоретическая часть, начинается автодром.
        Эта часть экзамена, как правило, даётся курсантам проще всего. В нее входит демонстрация навыков по трём упражнениям из
        пяти разученных:
        <br>
        # маневрирование между конусами («змейка»);<br>
        # парковка;<br>
        # въезд в гараж задним ходом;<br>
        # разворот во дворе;<br>
        # трогание на подъёме (включается в экзамен обязательно).<br>
        Самым простым упражнением считается «змейка», так как для слалома между конусами не нужно особых навыков, достаточно
        уметь вовремя вращать руль. Параллельная парковка и въезд в гараж даются сложнее, но самое сложное упражнение — трогание
        на ручнике в горку. Оно даётся труднее всего.
        <br>
        При трогании на подъеме важно грамотно сработать ручным тормозом и сцеплением одновременно, поэтому упражнение нередко
        становится причиной провала на автодроме. Те же, кто успешно сдаёт эту часть экзамена, отправляются на вождение в
        городе.
        <br>
        Конкретных оценок, сколько баллов и за какое упражнение выставляется, никто не озвучивает. Известно, что на автодроме
        можно допустить одну несерьёзную ошибку (например, задеть конус). Сбитый конус и уж тем более несколько приводит к
        пересдаче. Равно как и провал с троганием в гору.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Вождение в городе">
      <p>
        Наиболее сложной частью экзамена считается вождение в городе. Оно проходит на определённых маршрутах, включающих в себя
        сложные перекрёстки и участки дороги, где запрещена остановка и стоянка.
        <br>
        На пассажирском сидении, справа от курсанта, находится его инструктор. На заднем сиденьи располагается инспектор,
        который ведёт записи о том, как курсант проходит экзамен, и фиксирует ошибки. Некоторые грубые ошибки автоматически
        засчитывают курсанту провал всего экзамена.
        <br>
        В первую очередь нужно пристегнуть ремень безопасности. Если ученик забыл это сделать, экзамен считается проваленным.
        Далее следует провести регулировку сидения и зеркал под себя. После автомобиль снимается с ручника и включается сигнал
        поворота, сигнализирующий о намерении отъехать от обочины на проезжую часть. Если что-то из этого не выполнено, экзамен
        считается проваленным.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Как проходит вождение в городе ">
      <p>
        В ходе теста инспектор ГИБДД, сопровождающий курсанта, может просит его выполнить определённые манёвры, например,
        разворот на перекрёстке или показать движение на определённой передаче. Грубыми ошибками считается, если автомобиль
        заглох — ученик бросил сцепление, или если манёвр был выполнен некорректно — не включен сигнал поворота или была создана
        аварийная ситуация.
        <br>
        Крайне внимательно нужно считывать дорожные знаки. На тихих улочках нередко встречается ограничение скорости в 20
        километров в час. Превышение даже на пять километров в час в таком случае может стоить курсанту сданного экзамена.
        <br>
        В конце инспектор просит курсанта припарковать автомобиль, но не нужно сразу сворачивать на обочину. Останавливаться
        можно только там, где разрешена стоянка, и нужно быть уверенным, что по пути не было запрещающего знака или нет других
        препятствующих факторов (например, выезда из двора напротив места остановки). Но не стоит и затягивать с манёвром: если
        выбирать место слишком долго, экзамен будет считаться проваленным.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Как оценивается экзамен в городе">
      <p>
        Всего у экзаменуемого есть 5 баллов. За каждую ошибку его лишают определённого количества баллов. Грубые ошибки
        оцениваются в 5, средние — в 3, а мелкие — в 1 балл.
        <br>
        Грубые ошибки:
        <br>
        # уступить дорогу транспорту, у которого преимущество;<br>
        # не уступить дорогу пешеходу с преимуществом;<br>
        # выезд на встречную полосу, где это не разрешено;<br>
        # выезд на встречные трамвайные пути;<br>
        # проезд на красный свет;<br>
        # невыполнение требований знаков приоритета или дорожной разметки;<br>
        # пересечение стоп-линии при остановке;<br>
        # нарушение правил обгона, поворота, разворота, движения задним ходом, превышение скорости;<br>
        # вмешательство инструктора (использование дополнительных педалей);<br>
        # игнорирование задания экзаменатора.<br>
        <br>
        Всё вышеперечисленное приводит к провалу экзамена. Средних и мелких ошибок меньше, если их составить вместе. Список едва
        нагонит полный перечень грубых нарушений. Математически вычисляется, что курсант имеет право на одну среднюю ошибку или
        на четыре мелких, при условии, что он не допустит более ни одного нарушения:
        <br>
        # нарушение правил остановки или стоянки — 3 балла;<br>
        # не включен сигнал поворота при манёвре — 3 балла;<br>
        # не использована в установленных случаях аварийная сигнализация или знак аварийной остановки — 3 балла;<br>
        # выезд на перекрёсток в заторе — 3 балла;<br>
        # не пристёгнут ремень безопасности — 3 балла;<br>
        # использование телефона во время движения — 3 балла;<br>
        # несвоевременно поданный сигнал поворота — 1 балл;<br>
        # выбор скорости движения без учета дорожных и метеорологических условий — 1 балл;<br>
        # слишком медленное движение без необходимости — 1 балл;<br>
        # резкое торможение без необходимости — 1 балл;<br>
        # заглох во время экзамена — 1 балл.<br>
        Чтобы успешно пройти экзамен в ГИБДД, нужно преодолеть все его этапы и выполнить команды инспектора, не допустив
        серьёзного или двух средних нарушений.<br>
        
        После финальной остановки в правильном месте инспектор ставит удовлетворительную оценку, с которой можно идти собирать
        документы, оплачивать пошлину и получать своё честно заработанное водительское удостоверение.
      </p>
    </p-accordionTab>
  </p-accordion>
</div>